:host {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.content-wrapper {
    flex: 1;
    overflow-x: auto;
}

.content {
    padding: 1rem;
    font-size: 25px;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-around;
    min-height: percentage(1/4);
    .button {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}