<div class="main">
  <div class="text">
    {{input}}
  </div>

  <div class="progress" style="margin-top: -2px; height: 8px;" [style.visibility]="isPending?'visible':'hidden'">
    <div class="indeterminate"></div>
  </div>

  <div class="row">

    <div class="col" [@slideInOut]="!toggle">
      <div class="num-button-wrapper" *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
        <div class="num-button" (click)="input=input+num">{{num}}</div>
      </div>
      <div class="num-button-wrapper">
        <div class="num-button" (click)="input=''">С</div>
      </div>
      <div class="num-button-wrapper">
        <div class="num-button" (click)="input=input+0">0</div>
      </div>
      <div class="num-button-wrapper">
        <div class="num-button" (click)="onCardClick()">💳</div>
      </div>
    </div>

    <div class="col" [@slideInOut]="toggle">

      <div *ngIf="!isPending" class="content">

        <div *ngIf="cardIsExists" style="font-size: 2rem;">
          <ul>
            <li *ngFor="let v of card.visits">{{v | date:'hh:mm dd.MM.yyyy'}}</li>
            <li *ngFor="let v of card.visits">{{v | date:'hh:mm dd.MM.yyyy'}}</li>
          </ul>
        </div>

        <div *ngIf="!cardIsExists">
          Карта зарегистрируется при первом использовании
        </div>
      </div>

      <div class="footer">
        <div class="num-button-wrapper">
          <div class="num-button" (click)="onBackwardClick()">⬅</div>
        </div>
        <div class="num-button-wrapper">
          <div class="num-button" (click)="onRegisterClick()">Кофе</div>
        </div>
      </div>
    </div>

  </div>

</div>