
$size :90px;

.main {
    background-color: #1c313a;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    .header {
        height: $size;
        color: white;
        border-bottom: 2px solid #718792;
        display: flex;
        align-items: center;
        font-size: $size*.8;
        padding: 0 .3rem;
    }
    .content {
        flex: 1;
        position: relative;
        .content-item {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}

// .row {
//     position: relative;
//     height: 100%;
//     width: 100%;
// }
// .col {
//     position: absolute;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
// }
// .num-button-wrapper {
//     flex-basis: percentage(1/3);
//     position: relative;
//     .num-button {
//         text-align: center;
//         padding-top: percentage(1/4);
//         padding-bottom: percentage(1/4);
//         width: 100%; // line-height: 50%; // border-radius: 50%;
//         border: none;
//         font-size: $font-size;
//         color: white;
//         background-color: #1c313a;
//     }
// }
// .footer {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     display: flex;
//     justify-content: space-around;
//     background-color: #1c313a;
// }
// .content{
//     overflow-x: auto;
//     font-size: 2rem;
//     color:white;
//     padding: .5rem;
//     margin-bottom: percentage(1/3);
// }
// ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     overflow-y: auto;
// }